body {
  margin: 0;
  background-color: #1c1c1c;
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  text-align: center;
  color: white;
  width: 550px;
  height: 650px;
}

.upper-section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6943ff;
}

.heading {
  margin-top: 20px;
  font-weight: bolder;
  font-size: 26px;
}

input {
  color: white;
  background-color: #6943ff;
  font-family: 'Inter';
  font-weight: bolder;
  font-size: 50px;
  margin-top: 28px;
  margin-bottom: 18px;
  padding: 3px 16px;
  padding-left: 16px;
  padding-right: 10px;
  outline: none;
  width: 36px;
  max-width: 480px;
  border: 0.075ex solid #b295ff;
  border-radius: 5px;
  transition: width 0.15s ease;
}

.lower-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2937;
  width: 100%;
  height: 420px;
}

.unit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #273549;
  margin-top: 30px;
  width: 500px;
  height: 100px;
  position: relative;
}

.unit-container::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100%);
  height: calc(100%);
  background: transparent;
  border: 2px solid #b295ff;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.3s;
}

.unit-container:hover::before {
  opacity: 1;
  animation: border-dance 2s linear infinite;
}

.title {
  color: #ccc1ff;
  font-weight: bold;
  height: 20px;
  font-size: 19px;
}

.subtitle {
  margin-top: 15px;
  font-size: 14px;
  color: white;
}

#btn {
  font-size: 14px;
  color: black;
  width: 100px;
  height: 36px;
  margin-bottom: 28px;
  background: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

#btn::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100%);
  height: calc(100%);
  background: transparent;
  border: 2px solid #b295ff;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.3s;
}

#btn:hover::before {
  opacity: 1;
  animation: border-dance 2s linear infinite;
}

@keyframes border-dance {
  0%,
  100% {
    clip-path: inset(0 0 calc(100% - 2px) 0);
  }
  25% {
    clip-path: inset(0 0 0 calc(100% - 2px));
  }
  50% {
    clip-path: inset(calc(100% - 2px) 0 0 0);
  }
  75% {
    clip-path: inset(0 calc(100% - 2px) 0 0);
  }
}

#btn:hover {
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px #b295ff;
}

#btn:active {
  transform: scale(0.98);
}
